<h2 mat-dialog-title>View / Edit Representatives</h2>
<mat-divider></mat-divider>
<mat-dialog-content style="margin-top: 10px">
  <h3><b>Owner:</b> {{ data.name }} (#{{ data.contactId }})</h3>
  <app-representatives-table
    [idArray]="data.idArray"
    [ownerData]="data"
    (repCountEvent)="repCountIncrease($event)"
  ></app-representatives-table>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
  <button
    [mat-dialog-close]="count"
    mat-mini-fab
    color="warn"
    matTooltip="Close"
    #cancel
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-dialog-actions>
