.notice-list-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.notice-list-sub-container {
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  justify-content: space-between;
}

.water-rights-container {
  width: 54%;
}

.other-parties-container {
  width: 45%;
}
