<mat-card>
  <mat-card-title>Responsible Office</mat-card-title>
  <mat-card-content>
    <app-ownership-updates-responsible-office
      [idArray]="idArray"
      [officeSubject]="officeSubject"
    ></app-ownership-updates-responsible-office>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Processor</mat-card-title>
  <mat-card-content>
    <app-ownership-updates-processor
      [idArray]="idArray"
      [officeSubject]="officeSubject"
      [staffSubject]="staffSubject"
    ></app-ownership-updates-processor>
  </mat-card-content>
</mat-card>
<p class="file-location-subtitle">File Location</p>
<div class="tables-container">
  <div class="table table-left">
    <app-ownership-updates-office
      [idArray]="idArray"
      [officeSubject]="officeSubject"
      [comparisonDate]="earliestDate"
    ></app-ownership-updates-office>
  </div>
  <div class="table table-right">
    <app-ownership-updates-staff
      [idArray]="idArray"
      [staffSubject]="staffSubject"
      [comparisonDate]="earliestDate"
    ></app-ownership-updates-staff>
  </div>
</div>
