<div *ngIf="data; else loading" style="margin: 10px">
  <table
    table-striped
    table-hover
    table-active
    class="mat-elevation-z{{ zHeight }}"
    mat-table
    [dataSource]="data"
    matSort
    (matSortChange)="onSortData($event)"
    [matSortActive]="
      !!primarySortColumn
        ? primarySortColumn
        : columns[0].noSort
        ? ''
        : columns[0].columnId
    "
    [matSortDirection]="
      noSort ? '' : !!primaryDirection ? primaryDirection : 'asc'
    "
    matSortDisableClear
    multiTemplateDataRows
  >
    <!-- Create the data columns using the Column-->
    <ng-container *ngFor="let column of columns">
      <ng-container matColumnDef="{{ column.columnId }}">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="column.noSort || noSort"
          [ngClass]="isInMain ? 'extraTop' : ''"
          [width]="column?.width || 'auto'"
        >
          <span class="schedule-th">{{ column.title }}</span>
        </th>
        <td
          [width]="column?.width || 'auto'"
          (mouseenter)="
            column.showCounter ? toggleCounterForRow($event, column) : null
          "
          (mouseleave)="
            column.showCounter ? toggleCounterForRow($event, column) : null
          "
          (click)="clickCell(i, column.columnId)"
          (dblclick)="dblClickCell(i, column.columnId)"
          (keydown.enter)="dblClickCell(i, column.columnId)"
          (keydown.space)="clickCell(i, column.columnId)"
          [tabIndex]="dblClickableCell(column) ? 0 : -1"
          class="counter-container"
          [class.icon-container]="column.type.toString() == 'checkbox'"
          mat-cell
          *matCellDef="let element; let i = dataIndex"
        >
          <div class="cell-container">
            <span
              *ngIf="column.columnId != 'shortNotes'"
              [class.material-icons]="column.type.toString() == 'checkbox'"
              >{{
                formatCellText(element[column.columnId], column.type.toString())
              }}
            </span>
            <span
              *ngIf="column.columnId == 'shortNotes'"
              [matTooltip]="
                formatCellText(element.notes, column.type.toString())
              "
              matTooltipClass="schedule-comment-tooltip"
              matTooltipPosition="left"
              >{{
                formatCellText(element[column.columnId], column.type.toString())
              }}
            </span>
            <button
              class="counter-btn"
              *ngIf="column?.showCounter && element[column?.counterRef] >= 0"
              mat-mini-fab
              [matTooltip]="column.title"
            >
              {{ element[column.counterRef] }}
            </button>
          </div>
        </td>
      </ng-container>
    </ng-container>

    <!-- Add in the row actions -->
    <ng-container matColumnDef="actions">
      <th
        class="table-actions"
        [hidden]="hideActions"
        mat-header-cell
        *matHeaderCellDef
        [ngClass]="isInMain ? 'extraTop' : ''"
      >
        Actions
      </th>
      <td
        class="table-actions"
        [hidden]="hideActions"
        mat-cell
        *matCellDef="let element; let i = dataIndex; let row"
      >
        <!-- Button Action Column -->

        <div class="table-row-actions">
          <span *ngIf="expandChildRef">
            <mat-icon class="data-table-expansion" *ngIf="!row.isExpanded"
              >expand_more</mat-icon
            >
            <mat-icon class="data-table-expansion" *ngIf="row.isExpanded"
              >expand_less</mat-icon
            >
          </span>
          <button
            *ngIf="enableMoreInfo"
            class="info-btn"
            mat-mini-fab
            matTooltip="More Info"
            (keyup.space)="moreInfo(i)"
            (click)="moreInfo(i)"
          >
            i
          </button>
          <button
            *ngIf="!hideEdit && !row?.hideEdit"
            mat-mini-fab
            color="primary"
            matTooltip="Edit"
            (click)="editRow($event, i)"
            (keyup.space)="editRow($event, i)"
            [disabled]="!permissions?.canPUT || row?.disableEdit"
            #editButtons
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            *ngIf="!hideDelete && !row?.hideDelete"
            mat-mini-fab
            color="warn"
            matTooltip="Delete"
            (click)="deleteRow($event, i)"
            (keyup.space)="deleteRow($event, i)"
            [disabled]="!permissions?.canDELETE || row?.disableDelete"
            #deleteButtons
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let row"
        [attr.colspan]="displayedColumns.length"
      >
        <div
          class="row element-detail"
          [@detailExpand]="row.isExpanded ? 'expanded' : 'collapsed'"
        >
          <ng-template [ngIf]="row.isExpanded">
            <ng-container
              *ngTemplateOutlet="expandChildRef; context: { row: row }"
            ></ng-container>
          </ng-template>
        </div>
      </td>
    </ng-container>

    <ng-container *ngIf="!hideHeader">
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    </ng-container>
    <tr
      mat-row
      #row
      *matRowDef="let row; columns: displayedColumns; let i = dataIndex"
      class="element-row"
      [tabIndex]="dblClickableRow || expandChildRef ? 0 : -1"
      [ngClass]="[
        selectedRow == i && highlightOneRow ? 'selected' : '',
        clickableRow ? 'pointer' : ''
      ]"
      [ngStyle]="selectedRow == i && highlightOneRow ? selectedRowStyles : {}"
      (click)="row.isExpanded = !row.isExpanded"
      (dblclick)="dblclickRow($event, i)"
      (click)="clickRow($event, i)"
      (keydown.enter)="dblclickRow($event, i)"
      (keydown.space)="clickRow($event, i); row.isExpanded = !row.isExpanded"
    ></tr>
    <!-- This attribute is to be inserted into the above tag 
              to highlight the row whenever it's been clicked on-->
    <!-- [ngClass]="{ 'selected': row.isExpanded }" -->
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="detail-row"
    ></tr>
  </table>
</div>

<ng-template #loading>
  <div class="loading">Loading...</div>
</ng-template>
