<div *ngIf="title" class="edit-header-title">{{ title }}</div>
<div *ngIf="!data && !error; else loaded" class="loading-container">
  <p class="edit-header-title">Loading...</p>
</div>
<ng-template #loaded>
  <div class="app-edit-header" *ngIf="data && !error; else failed">
    <div class="data-row">
      <ng-container *ngFor="let item of displayedColumns">
        <shared-data-row-field
          [inputStyles]="{ whiteSpace: 'normal', overflow: 'auto' }"
          [field]="item"
          [dataValue]="data[item.columnId]"
          [removePadding]="true"
        ></shared-data-row-field>
      </ng-container>
    </div>

    <app-reports-button
      class="data-row-actions"
      [data]="data"
      [reportConfig]="reports"
      [title]="reportTitle"
    ></app-reports-button>
  </div>
</ng-template>

<ng-template #failed>
  <div class="loading-container">
    <p class="edit-header-title">Enforcement not found.</p>
  </div>
</ng-template>
