<h2 mat-dialog-title>{{ title }}</h2>
<mat-divider></mat-divider>
<mat-dialog-content style="margin-top: 10px">
  <form [formGroup]="formGroup" (keyup)="keyPress($event)">
    <mat-error>
      <app-form-errors></app-form-errors>
    </mat-error>
    <div class="one-lined">
      <div
        class="form-field"
        *ngFor="let field of displayFields; let i = index"
      >
        <shared-data-form-field
          [mode]="mode"
          [field]="field"
          [value]="data?.values !== null ? data.values[field.columnId] : null"
          (shiftTabEvent)="receiveShiftTab($event, i)"
          (changeEvent)="_onChange($event)"
          (blurEvent)="_onBlur($event)"
        >
        </shared-data-form-field>
      </div>
      <button
        mat-mini-fab
        color="primary"
        class="edit-button"
        matTooltip="Select a DNRC Name and DOR Name"
        (click)="onSubdivisionSelect()"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="one-lined">
      <div
        class="form-field one-lined"
        *ngFor="let field of secondDisplayFields; let i = index"
      >
        <shared-data-form-field
          [mode]="mode"
          [field]="field"
          [value]="data?.values !== null ? data.values[field.columnId] : null"
          *ngIf="field.displayInEdit != null ? field.displayInEdit : true"
          (shiftTabEvent)="receiveShiftTab($event, i)"
          (changeEvent)="_onChange($event)"
          (blurEvent)="_onBlur($event)"
        >
        </shared-data-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
  <ng-template [ngIf]="formGroup">
    <button
      (click)="save()"
      [matTooltip]="tooltip"
      mat-mini-fab
      color="primary"
      [disabled]="formGroup.invalid || (!changedSource && formGroup.pristine)"
    >
      <mat-icon>done</mat-icon>
    </button>
  </ng-template>

  <button
    (click)="close()"
    mat-mini-fab
    color="warn"
    matTooltip="Cancel"
    #cancel
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-dialog-actions>
