<div *ngIf="title" class="edit-header-title">{{ title }}</div>
<div *ngIf="!data && !error; else loaded" class="loading-container">
  <p class="edit-header-title">Loading...</p>
</div>
<ng-template #loaded>
  <ng-container *ngIf="data && !error; else failed">
    <div class="app-edit-header">
      <div class="data-row">
        <ng-container *ngFor="let item of displayedColumns">
          <shared-data-row-field
            [field]="item"
            [removePadding]="true"
            [dataValue]="displayData[item.columnId]"
            (click)="clickCell(item)"
          ></shared-data-row-field>
        </ng-container>
      </div>

      <!-- Button Action -->
      <div class="data-row-actions">
        <button
          mat-mini-fab
          color="primary"
          matTooltip="Edit Water Right"
          (click)="onEdit()"
          [disabled]="!permissions.canPUT"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <app-reports-button
          class="data-row-actions"
          [data]="data"
          [reportConfig]="reports"
          [title]="reportTitle"
        ></app-reports-button>
      </div>
    </div>

    <app-original-right [inputData]="data"></app-original-right>
  </ng-container>
</ng-template>

<ng-template #failed>
  <div class="loading-container">
    <p class="edit-header-title">Water Right not found.</p>
  </div>
</ng-template>
