.review-geocodes-information {
  ::ng-deep .mat-tab-body-content {
    overflow: hidden;
  }

  ::ng-deep .mat-card {
    width: 100%;
  }
}

.geocodes-row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
