// colors
$dnrc-mt-green: #aeba95;
$dnrc-mt-green-transparent: rgba(173, 186, 149, 0.19);
$dnrc-mt-green-selected: rgba(173, 186, 149, 0.4);
$dnrc-mt-green-hover: rgba(173, 186, 149, 0.7);
$dnrc-mt-green-focus: rgba(173, 186, 149, 0.7);
$dnrc-mt-green-menu-selected: rgba(173, 186, 149, 0.85);
$dnrc-mt-navy: #0d2063;
$dnrc-mt-navy-hover: rgba(59, 82, 165, 0.5);
$color-black: #000;
$color-error: red;
$shadow-black: rgba(0, 0, 0, 0.3);
$inset-black-opaque: rgba(0, 0, 0, 0.19);
$inset-black-more-opaque: rgba(0, 0, 0, 0.23);
$modal-background-black: rgba(0, 0, 0, 0.75);

// Sizing
$nav-height: 90px;
$sticky-height: 114px;
$table-cell-max-width: 300px;
