<div class="responsive-container">
  <div class="sticky-wrapper">
    <div class="fixed-header">
      <ng-template #header></ng-template>
    </div>
  </div>
  <div *ngIf="dataWasFound && !error" class="responsive-body">
    <mat-card class="responsive-card pod-table-container">
      <mat-card-action> </mat-card-action>
      <mat-card-content>
        <mat-accordion multi #accordion="matAccordion">
          <mat-expansion-panel
            *ngFor="let accordion of pageDefinition.accordions; let i = index"
            [disabled]="accordion.disabled"
            (opened)="openedAccordion(i)"
            (closed)="closedAccordion(i)"
            [ngClass]="{ condensed: accordion.condensed }"
          >
            <div class="point-of-diversion-title">Point Of Diversion</div>
            <ng-template matExpansionPanelContent #dynamic></ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
</div>
