.ownership-update-checkboxes {
  display: flex;
  width: 100%;
}

.ownership-update-checkbox {
  margin-right: 15px;
}

.ownership-update-title-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
