.related-rights-form {
  margin-top: 15px;
}

.title {
  margin-bottom: 0;
}

.create-sub-title {
  white-space: nowrap;
}

.water-rights-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
