.water-rights-container,
.applications-container {
  background: rgb(250, 250, 250);
  padding: 16px;
  font-size: 2px;
  border-radius: 4px;
  margin-top: 20px;
}

.water-rights-container > h2,
.applications-container > h2 {
  font-size: 16px;
}
