<div [formGroup]="formGroup">
  <div class="dialog-title-container">
    <h2 mat-dialog-title>{{ title }}</h2>
  </div>
  <mat-divider></mat-divider>
  <mat-dialog-content style="margin-top: 10px">
    <form [formGroup]="formGroup">
      <div
        class="form-field"
        *ngFor="let field of displayFields; let i = index"
      >
        <shared-data-form-field
          [mode]="mode"
          [field]="field"
          [value]="data?.values !== null ? data.values[field.columnId] : null"
          (blurEvent)="_onBlur($event)"
        >
        </shared-data-form-field>
      </div>
      <div></div>
    </form>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions align="end">
    <button
      (click)="save()"
      mat-mini-fab
      [matTooltip]="tooltip"
      mat-mini-fab
      color="primary"
      [disabled]="!formGroup.valid || !formGroup.dirty"
    >
      <mat-icon>done</mat-icon>
    </button>
    <button
      (click)="close()"
      mat-mini-fab
      color="warn"
      matTooltip="Cancel"
      #cancel
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-dialog-actions>
</div>
