<h2 mat-dialog-title>Objector Representatives</h2>
<mat-divider></mat-divider>
<mat-dialog-content style="margin-top: 10px">
  <h3><b>Objector:</b> {{data.name}} (#{{data.contactId}})</h3>
  <app-objectors-representative-table
    [idArray]="data.idArray"
  ></app-objectors-representative-table>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
      [mat-dialog-close]="null"
      mat-mini-fab
      color="warn"
      matTooltip="Cancel"
      #cancel
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-dialog-actions>