.applicant-table,
.objections-table {
  width: 100%;

  ::ng-deep .mat-card {
    width: -webkit-fill-available;
    width: -moz-available;
  }
}

.applicant-table,
.objections-sub-tables {
  ::ng-deep .cell-container button {
    margin-left: 40px !important;
  }
}

.objections-sub-tables {
  display: flex;
  justify-content: space-between;

  ::ng-deep .mat-card {
    width: 100%;
  }

  > * {
    width: 48%;
    height: fit-content;
  }
}

.objections-sub-tables {
  margin-top: 15px;
}
