<div
  class="data-row"
  [ngClass]="title ? 'row-with-title' : ''"
  [ngStyle]="containerStyles"
>
  <div class="row-title">
    <span [ngStyle]="titleStyles">{{ title }}</span>
    <div class="data-row-actions">
      <button
        #editButton
        *ngIf="showEdit && data"
        mat-mini-fab
        color="primary"
        matTooltip="Edit"
        (click)="onEdit()"
        [disabled]="!permissions.canPUT || disableEdit"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
  <ng-container *ngIf="data">
    <div class="one-lined">
      <ng-container *ngFor="let item of columns">
        <shared-data-row-field
          *ngIf="item.displayInTable != null ? item.displayInTable : true"
          [field]="item"
          [dataValue]="data[item.columnId]"
          (click)="clickCell(item)"
        ></shared-data-row-field>
      </ng-container>
    </div>
    <div class="one-lined">
      <ng-container *ngFor="let item of majorColumns">
        <shared-data-row-field
          *ngIf="item.displayInTable != null ? item.displayInTable : true"
          [field]="item"
          [dataValue]="data[item.columnId]"
          (click)="clickCell(item)"
        ></shared-data-row-field>
      </ng-container>
    </div>
  </ng-container>
  <div class="loading" *ngIf="!data && showLoading">
    <h2>{{ dataMessage }}</h2>
  </div>
</div>
