@import 'src/sass/variables';

.title-container {
  display: flex;
  align-items: center;
}

.title-buttons-container {
  width: -webkit-fill-available;
  width: -moz-available;
  text-align: end;
  margin-left: 20px;
}

.mat-card {
  min-width: 30%;
}

.data-container {
  margin-bottom: 10px;
}

.data-message {
  margin-top: 20px;
  text-align: center;
}
