<div class="address-container">
  <h2 mat-dialog-title>Address</h2>
  <app-address-table
    (reloadAddresses)="onReloadAddressesHandler()"
    [reloadAddressesData]="reloadAddressesData"
    [contactId]="idArray[0]"
    [hideActions]="false"
    [enableMoreInfo]="true"
    [hideInsert]="false"
    [containerStyles]="containerStyles"
    [showRtnMail]="true"
    [showNotes]="true"
    [contactStatus]="contactStatus"
  ></app-address-table>
</div>

<div class="phone-email-container">
  <h2 mat-dialog-title>Phone / Email</h2>
  <app-phone-email [containerStyles]="containerStyles"></app-phone-email>
</div>
