<div class="water-rights-container">
  <app-water-rights-code-table
    [decreeId]="decreeId"
    [decreeBasin]="decreeBasin"
    [hasCaseAdminRole]="hasCaseAdminRole"
    (onWaterRightSelect)="currentWaterRight = $event"
  ></app-water-rights-code-table>
  <ng-template [ngIf]="currentWaterRight">
    <app-case-water-right-objections
      [idArray]="[
        currentCaseNumber,
        currentWaterRight?.waterRightId,
        currentWaterRight?.versionId
      ]"
    >
    </app-case-water-right-objections>
  </ng-template>
</div>
